:root {
  --color-white: #ffff;
  --color-dark: #0000;
  --bg-primary-light: #FFF3E2;
  --bg-secondary-light: #FFE5CA;
  --bg-highlight: #FA9884;
  --bg-dark: #E74646;
}

html, body {
  height: 100%;
  overflow:hidden;

  background-color: var(--bg-primary-light);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;

  font-family: Montserrat, Arial, Helvetica, sans-serif;
}